@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-quickscript_dark_gray;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}